<h3><%= @my_recipe.name %></h3>
<img src=<%= @my_recipe.avatar.url %> alt="">
<div class="recipe-ingredients">
  <div class="ingredients-amount">
    <% @ingredient_amount.each do |amount| %>
      <p>
        <%= amount.amount %>
      </p>
    <% end %>
  </div>

  <div class="ingredients">
    <% @my_recipe_ingredients.each do |recipe_ingredient| %>
      <p>
        <%= recipe_ingredient.name %>
      </p>
    <% end %>
  </div>
</div>

<div>
  <p><%= @my_recipe.description %></p>
</div>

<div>
  
  <button type="submit" value=<%= @my_recipe.id %>>Add to MyPlan!</button>
</div>
