<div class="main">
  <div class="wrapper">
    <div class="heading">
      <h1>New user</h1>
    </div>
    <div>
        <% if @user.errors.any? %>
          <div id="error_explanation">
              <% @user.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
              <% end %>
          </div>
        <% end %>
    </div>
    <div>
      <div class="form">
        <%= form_tag '/users/new' do %>
          <div class="form-input">Name: <%= text_field_tag :name %></div>
          <div class="form-input">Password: <%= password_field_tag :password %></div>
          <div class="form-input">Password Confirmation: <%= password_field_tag :password_confirmation %></div>
          <div class="form-input submit-btn"><%= submit_tag "Submit" %></div>
        <% end %>
      </div>
    </div>
  </div>
</div>
