<h3>New user</h3>
<%= form_tag '/users/new' do %>
  Name: <%= text_field_tag :name %>
  Password: <%= password_field_tag :password %>
  Password Confirmation: <%= password_field_tag :password_confirmation %>
  <%= submit_tag "Submit" %>
<% end %>
