<div class="main">
  <div class="wrapper">
    <h1>Suggest recipes</h1>
    <div class="form">
      <%= form_tag(suggestion_path, method: :get) do %>
        <div class="ingredient-form-input">
          <%= label_tag 'Ingredient 1'%>
          <%= autocomplete_field_tag 'ingredient1', '', autocomplete_ingredient_name_ingredients_path %>
        </div>
        <div class="ingredient-form-input">
          <%= label_tag 'Ingredient 2'%>
          <%= autocomplete_field_tag 'ingredient2', '', autocomplete_ingredient_name_ingredients_path %>
        </div>
        <div class="ingredient-form-input">
          <%= label_tag 'Ingredient 3'%>
          <%= autocomplete_field_tag 'ingredient3', '', autocomplete_ingredient_name_ingredients_path %>
        </div>
        <div class="ingredient-form-input">
          <%= label_tag 'Ingredient 4'%>
          <%= autocomplete_field_tag 'ingredient4', '', autocomplete_ingredient_name_ingredients_path %>
        </div>
        <div class="ingredient-form-input">
          <%= label_tag 'Ingredient 5'%>
          <%= autocomplete_field_tag 'ingredient5', '', autocomplete_ingredient_name_ingredients_path %>
        </div>
        <div class="form-input submit-btn">
          <%= submit_tag 'Suggest recipe'%>
        </div>
      <% end %>
    </div>
  </div>
</div>
