<div class="top_section">
  <div class="logo_bar">
    <div class="logo">
      <%= image_tag "logo.png" %>
    </div>
    <div>Click 'n' Eat</div>
  </div>
  <% if current_user != nil %>
  <div class="top-bar">
    <div><%= link_to "Recipes", "/recipes"%></div>
    <div><%= link_to "MyPlans", "/plans"%></div>
    <div><%= link_to "WhatToCook?", "/ingredients"%></div>
    <div><%= link_to "Log out", "/users/logout", :method => :delete %></div>
  </div>
  <% end %>
</div>
